einops==0.8.1
gdown==5.2.0
huggingface-hub==0.26.2
joblib==1.4.2
librosa==0.10.2.post1
numpy==1.26.4
opencv-python==4.10.0.84
packaging==24.1
pydub==0.25.1
python_speech_features==0.6
rotary-embedding-torch==0.8.3
scenedetect==0.6.6
scikit-learn==1.5.1
scipy==1.13.1
soundfile==0.12.1
torch==2.3.1
torchaudio==2.3.1
torchinfo==1.8.0
torchvision==0.18.1
tqdm==4.67.0
yamlargparse==1.31.1
